@implements IAsyncDisposable

<div style="@Style; height: fit-content;">
    @if (Template == null)
    {
        @((MarkupString)Output)
    }
    else
    {
        @Template(Output)
    }
</div>

@code {

    private IJSObjectReference? m_Module;
    [Inject] private IJSRuntime JsRuntime { get; set; } = null!;

    [Parameter] public bool TeXDisplay { get; set; } = true;
    [Parameter] public EventCallback<string> OutputChanged { get; set; }
    [Parameter] public RenderFragment<string>? Template { get; set; }
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string Style { get; set; } = "";

    private string Output { get; set; } = String.Empty;

    private bool m_HasRendered = false;

    protected override async Task OnParametersSetAsync()
    {
        if (m_HasRendered)
        {
            await ProcessValueAsync();
        }

        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            m_Module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./mathJaxBlazor.js");
            await ProcessValueAsync();
            m_HasRendered = true;
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task ProcessValueAsync()
    {
        var result = String.Empty;
        if (!string.IsNullOrWhiteSpace(Value))
        {
            if (m_Module != null)
            {
                if (Value.StartsWith("<math"))
                {
                    result = await m_Module.InvokeAsync<string>("processMathML", Value);
                }
                else
                {
                    result = await m_Module.InvokeAsync<string>("processLatex", Value, TeXDisplay);
                }
            }

            Output = result;
            await OutputChanged.InvokeAsync(result);
        }
        else
        {
            Output = "";
            await OutputChanged.InvokeAsync("");
        }

        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        if (m_Module != null)
        {
            await m_Module.DisposeAsync();
        }
    }

}